@using TelerikReportingMVC.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Telerik Reporting</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-6">
        @Html.TextBoxFor(x => x.NumberOfReportItemsToTake, new { @class = "form-control" })
    </div>
    <div class="col-md-3">
        <button id="btnRefresh" class="btn btn-primary">Refresh</button>
    </div>
</div>
    

<div id="reportViewer">
    loading...
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}